In [2]:
# Loading Python Modules to explore the data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline
plt.style.use('seaborn-whitegrid')

In [4]:
dataset = pd.read_csv('Household-V1_1.csv')

In [8]:
dataset = dataset.drop(['Unnamed: 0'], axis=1)

,SAMPN,CTFIP,BIN,RESTY,HHSIZ,INCOM,HHVEH,HHSTU,HHWRK,HHLIC,...,HCITY_MCD,HSTATE,HZIP,HTAZ,HTRACT,GEO_GROUP1,HHSIZ_R,INCOM_R,HHVEH_R,HHSTRUC
0,3000056,9001,1,1,6,5,3,4,4,4,...,Brookfield town,CT,6804,2626,9001205100,6,4,3,3,1
1,3000128,36027,14,1,5,4,2,3,3,3,...,Red Hook town,NY,12571,2438,36027150006,5,4,2,2,1
2,3000139,34027,17,1,2,99,2,0,0,2,...,Jefferson township,NJ,7849,3157,34027044701,9,2,9,2,6
3,3000146,34027,20,1,1,5,1,0,1,1,...,Parsippany-Troy Hills township,NJ,7950,3172,34027041601,9,1,3,1,4
4,3000157,34017,19,2,1,1,0,0,0,0,...,North Bergen township,NJ,7047,2852,34017014502,8,1,1,0,6
5,3000239,36087,21,1,2,99,1,0,0,2,...,Ramapo town,NY,10901,2284,36087011501,4,2,9,1,6
6,3000250,36059,18,2,1,3,1,0,0,1,...,Long Beach city,NY,11561,1799,36059416802,3,1,2,1,6
7,3000275,36059,5,1,2,4,1,0,0,2,...,Hempstead town,NY,11580,1733,36059410600,3,2,2,1,6
8,3000296,36047,3,2,1,1,0,0,0,0,...,Brooklyn borough,NY,11225,1285,36047080200,2,1,1,0,6
9,3000403,36081,4,2,1,2,0,0,0,1,...,Queens borough,NY,11377,377,36081029300,2,1,1,0,6
10,3000407,34021,16,1,2,6,2,0,2,2,...,Princeton township,NJ,8540,3581,34021004203,12,2,4,2,2
11,3000448,34023,12,1,3,7,5,0,3,3,...,Old Bridge township,NJ,8857,3218,34023007805,9,3,4,3,2
12,3000451,36103,16,1,4,3,1,3,0,1,...,Islip town,NY,11782,2000,36103147802,3,4,2,1,6
13,3000486,36119,14,2,2,7,2,0,1,2,...,Greenburgh town,NY,10530,2160,36119010804,4,2,4,2,4
14,3000490,36061,6,2,1,3,0,0,0,0,...,Manhattan borough,NY,10034,278,36061029500,1,1,2,0,6
15,3000498,36081,12,1,2,3,0,0,0,2,...,Queens borough,NY,11428,697,36081056600,2,2,2,0,6
16,3000552,34029,20,1,2,4,2,0,0,2,...,Toms River township,NJ,8753,3289,34029723200,10,2,2,2,6
17,3000568,9001,1,1,4,4,2,2,1,2,...,Danbury town,CT,6811,2637,9001210900,6,4,2,2,3
18,3000598,34017,18,2,1,2,0,0,0,0,...,Jersey City city,NJ,7307,2748,34017000200,8,1,1,0,6
19,3000614,34025,14,1,3,5,3,1,3,3,...,West Long Branch borough,NJ,7764,3281,34025806202,10,3,3,3,2
20,3000616,36061,20,2,1,4,1,0,1,1,...,Manhattan borough,NY,10075,193,36061013800,1,1,2,1,4
21,3000636,34041,17,1,3,7,3,0,3,3,...,Mansfield township,NJ,7840,3356,34041031500,11,3,4,3,2
22,3000678,34013,6,1,2,3,1,1,0,1,...,East Orange city,NJ,7018,3014,34013011600,8,2,2,1,6
23,3000686,36047,8,2,1,1,0,0,0,0,...,Brooklyn borough,NY,11214,1330,36047029600,2,1,1,0,6
24,3000688,34003,15,1,2,6,2,0,2,2,...,Hillsdale borough,NJ,7642,2687,34003026200,7,2,4,2,2
25,3000696,9001,13,1,1,3,1,0,1,1,...,Stratford town,CT,6615,2594,9001080500,6,1,2,1,4
26,3000711,34035,17,2,1,2,0,0,0,0,...,Bridgewater township,NJ,8807,3188,34035050802,9,1,1,0,6
27,3000716,34041,17,1,2,4,2,0,0,2,...,Allamuchy township,NJ,7840,3341,34041031302,11,2,2,2,6
28,3000727,34039,21,1,3,4,1,2,1,1,...,Berkeley Heights township,NJ,7974,3123,34039038201,8,3,2,1,3
29,3000749,36085,17,1,2,7,2,0,1,2,...,Staten Island borough,NY,10308,1607,36085014605,2,2,4,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18935,4130173,36059,17,1,4,99,4,0,4,4,...,Hempstead town,NY,11552,1685,36059406201,3,4,9,3,2
18936,4130235,36005,15,1,3,4,1,1,0,2,...,Bronx borough,NY,10465,957,36005013800,2,3,2,1,5
18937,4130300,36005,19,2,1,6,1,0,1,1,...,Bronx borough,NY,10475,941,36005046201,2,1,4,1,4
18938,4130374,36081,9,2,1,3,0,0,1,0,...,Queens borough,NY,11373,429,36081026901,2,1,2,0,4
18939,4130390,36005,13,2,1,3,0,0,1,1,...,Bronx borough,NY,10459,785,36005012701,2,1,2,0,4
18940,4130418,34017,18,2,4,2,0,3,0,0,...,Jersey City city,NJ,7307,2748,34017000200,8,4,1,0,5
18941,4130471,34013,6,2,2,4,2,1,1,2,...,East Orange city,NJ,7018,3013,34013011100,8,2,2,2,4
18942,4130642,34013,6,2,2,2,0,0,2,0,...,Bloomfield township,NJ,7003,3056,34013015400,8,2,1,0,2
18943,4130934,36005,15,2,2,2,2,0,0,2,...,Bronx borough,NY,10471,903,36005032300,2,2,1,2,6
18944,4131086,36085,13,1,1,2,1,0,1,1,...,Staten Island borough,NY,10314,1594,36085027706,2,1,1,1,4
18945,4131433,9009,14,1,4,3,1,1,2,1,...,Hamden town,CT,6514,3459,9009165500,6,4,2,1,1
18946,4131501,34013,14,1,3,3,3,0,1,3,...,Newark city,NJ,7104,2996,34013009400,8,3,2,3,4
18947,4131559,34017,19,2,4,3,1,2,1,2,...,Kearny town,NJ,7032,2831,34017012400,8,4,2,1,3
18948,4131734,34031,17,1,4,7,2,2,2,2,...,Clifton city,NJ,7014,2732,34031124402,7,4,4,2,1
18949,4132128,36027,14,2,1,2,0,0,0,0,...,Poughkeepsie city,NY,12601,2412,36027220100,5,1,1,0,6
18950,4132243,36005,15,1,2,6,1,0,2,2,...,Bronx borough,NY,10465,955,36005014400,2,2,4,1,2
18951,4132250,34013,14,1,4,3,2,0,1,2,...,Belleville township,NJ,7109,3043,34013014100,8,4,2,2,3
18952,4132666,36047,12,1,3,4,0,1,2,1,...,Brooklyn borough,NY,11208,1181,36047117202,2,3,2,0,1
18953,4132719,36047,12,2,2,1,0,0,0,0,...,Brooklyn borough,NY,11208,1177,36047121400,2,2,1,0,6
18954,4132759,34003,20,1,4,5,1,2,2,2,...,Lodi borough,NJ,7644,2691,34003030300,7,4,3,1,1
18955,4132997,36119,11,1,4,5,2,2,2,2,...,Greenburgh town,NY,10523,2209,36119011200,4,4,3,2,1
18956,4133010,36005,19,2,1,3,0,0,0,1,...,Bronx borough,NY,10475,941,36005046201,2,1,2,0,6
18957,4133049,36081,9,2,2,4,0,0,2,1,...,Queens borough,NY,11385,450,36081055700,2,2,2,0,2
18958,4133258,36081,12,1,1,4,2,0,1,1,...,Queens borough,NY,11427,690,36081130100,2,1,2,2,4
18959,4133384,36085,18,1,3,1,0,2,0,1,...,Staten Island borough,NY,10303,1561,36085023100,2,3,1,0,5
18960,4133438,36081,12,1,3,2,2,1,1,3,...,Queens borough,NY,11423,552,36081047200,2,3,1,2,4
18961,4133500,36081,12,2,4,3,1,1,1,1,...,Queens borough,NY,11365,536,36081122701,2,4,2,1,3
18962,4133511,36005,19,2,2,4,2,1,1,2,...,Bronx borough,NY,10475,941,36005046201,2,2,2,2,4
18963,4133672,36027,14,1,3,5,4,1,2,3,...,Beekman town,NY,12570,2427,36027020005,5,3,3,3,2
18964,4133756,36027,14,1,2,3,1,1,1,2,...,Poughkeepsie town,NY,12603,2423,36027410000,5,2,2,1,4

In [9]:
dataset.dtypes

Unnamed: 0      int64
SAMPN           int64
CTFIP           int64
BIN             int64
RESTY           int64
HHSIZ           int64
INCOM           int64
HHVEH           int64
HHSTU           int64
HHWRK           int64
HHLIC           int64
HHCHD           int64
PARTIAL         int64
HH1           float64
HCITY          object
HCITY_PL       object
HCITY_MCD      object
HSTATE         object
HZIP            int64
HTAZ            int64
HTRACT          int64
GEO_GROUP1      int64
HHSIZ_R         int64
INCOM_R         int64
HHVEH_R         int64
HHSTRUC         int64
dtype: object

In [10]:
dataset.describe()

,Unnamed: 0,SAMPN,CTFIP,BIN,RESTY,HHSIZ,INCOM,HHVEH,HHSTU,HHWRK,...,PARTIAL,HH1,HZIP,HTAZ,HTRACT,GEO_GROUP1,HHSIZ_R,INCOM_R,HHVEH_R,HHSTRUC
count,18965.000000,1.896500e+04,18965.000000,18965.000000,18965.000000,18965.000000,18965.000000,18965.000000,18965.000000,18965.000000,...,18965.000000,18965.000000,18965.000000,18965.000000,1.896500e+04,18965.000000,18965.000000,18965.000000,18965.000000,18965.000000
mean,9482.000000,3.494988e+06,33891.823728,13.080886,1.422621,2.296757,11.037754,1.531400,0.546533,1.211706,...,1.002215,365.550405,9458.342315,2146.834168,3.389195e+10,5.362246,2.221302,3.060849,1.457211,3.471395
std,5474.868263,3.004781e+05,5727.922997,5.534507,0.547168,1.243966,24.235222,1.157374,0.913935,0.863709,...,0.047009,335.210685,1840.310152,1054.723078,5.727913e+09,3.296062,1.072174,1.977486,0.986316,1.645460
min,0.000000,3.000056e+06,9001.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.142860,6037.000000,1.000000,9.001010e+09,1.000000,1.000000,1.000000,0.000000,1.000000
25%,4741.000000,3.244236e+06,34023.000000,9.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,...,1.000000,166.000000,7642.000000,1363.000000,3.402301e+10,2.000000,1.000000,2.000000,1.000000,2.000000
50%,9482.000000,3.475981e+06,36005.000000,14.000000,1.000000,2.000000,5.000000,1.000000,0.000000,1.000000,...,1.000000,264.333330,10023.000000,2344.000000,3.600503e+10,5.000000,2.000000,3.000000,1.000000,4.000000
75%,14223.000000,3.734060e+06,36061.000000,17.000000,2.000000,3.000000,6.000000,2.000000,1.000000,2.000000,...,1.000000,433.250000,11215.000000,3141.000000,3.606103e+10,8.000000,3.000000,4.000000,2.000000,4.000000
max,18964.000000,4.133756e+06,36119.000000,21.000000,9.000000,11.000000,99.000000,8.000000,7.000000,7.000000,...,2.000000,4029.000000,12780.000000,3586.000000,3.611998e+10,12.000000,4.000000,9.000000,3.000000,6.000000